.header__wrapper,
.search__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search__item-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__item-country {
  line-height: 1.25;
}

@supports (font-size: clamp( 0.6875rem , 0.6682692308rem  +  0.0961538462vw , 0.75rem )) {
  .search__item-country {
    font-size: clamp( 0.6875rem , 0.6682692308rem  +  0.0961538462vw , 0.75rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.6682692308rem  +  0.0961538462vw , 0.75rem )) {
  .search__item-country {
    font-size: calc(0.6875rem + 0.0625*(100vw - 20rem)/65);
  }
}

.search__item-amount {
  line-height: 1.25;
}

@supports (font-size: clamp( 0.75rem , 0.7115384615rem  +  0.1923076923vw , 0.875rem )) {
  .search__item-amount {
    font-size: clamp( 0.75rem , 0.7115384615rem  +  0.1923076923vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7115384615rem  +  0.1923076923vw , 0.875rem )) {
  .search__item-amount {
    font-size: calc(0.75rem + 0.125*(100vw - 20rem)/65);
  }
}

._f-subtitle {
  line-height: 1.25;
}

@supports (font-size: clamp( 1rem , 0.9230769231rem  +  0.3846153846vw , 1.25rem )) {
  ._f-subtitle {
    font-size: clamp( 1rem , 0.9230769231rem  +  0.3846153846vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9230769231rem  +  0.3846153846vw , 1.25rem )) {
  ._f-subtitle {
    font-size: calc(1rem + 0.25*(100vw - 20rem)/65);
  }
}

._f-body {
  line-height: 1.25;
}

@supports (font-size: clamp( 0.875rem , 0.8365384615rem  +  0.1923076923vw , 1rem )) {
  ._f-body {
    font-size: clamp( 0.875rem , 0.8365384615rem  +  0.1923076923vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8365384615rem  +  0.1923076923vw , 1rem )) {
  ._f-body {
    font-size: calc(0.875rem + 0.125*(100vw - 20rem)/65);
  }
}

._f-h1 {
  font-weight: 700;
  line-height: 1.25;
}

@supports (font-size: clamp( 1.5rem , 1.2692307692rem  +  1.1538461538vw , 2.25rem )) {
  ._f-h1 {
    font-size: clamp( 1.5rem , 1.2692307692rem  +  1.1538461538vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2692307692rem  +  1.1538461538vw , 2.25rem )) {
  ._f-h1 {
    font-size: calc(1.5rem + 0.75*(100vw - 20rem)/65);
  }
}

._f-h2 {
  font-weight: 700;
  line-height: 1.25;
}

@supports (font-size: clamp( 1.375rem , 1.1826923077rem  +  0.9615384615vw , 2rem )) {
  ._f-h2 {
    font-size: clamp( 1.375rem , 1.1826923077rem  +  0.9615384615vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.1826923077rem  +  0.9615384615vw , 2rem )) {
  ._f-h2 {
    font-size: calc(1.375rem + 0.625*(100vw - 20rem)/65);
  }
}

._f-h3 {
  font-weight: 700;
  line-height: 1.25;
}

@supports (font-size: clamp( 1.25rem , 1.1730769231rem  +  0.3846153846vw , 1.5rem )) {
  ._f-h3 {
    font-size: clamp( 1.25rem , 1.1730769231rem  +  0.3846153846vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1730769231rem  +  0.3846153846vw , 1.5rem )) {
  ._f-h3 {
    font-size: calc(1.25rem + 0.25*(100vw - 20rem)/65);
  }
}

._f-h4 {
  font-weight: 700;
  line-height: 1.25;
}

@supports (font-size: clamp( 1rem , 0.9230769231rem  +  0.3846153846vw , 1.25rem )) {
  ._f-h4 {
    font-size: clamp( 1rem , 0.9230769231rem  +  0.3846153846vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9230769231rem  +  0.3846153846vw , 1.25rem )) {
  ._f-h4 {
    font-size: calc(1rem + 0.25*(100vw - 20rem)/65);
  }
}

.logo img {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.logo__text {
  color: var(--clr-description-black);
}

.menu>ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1.5625rem;
}

.menu>ul>li {
  white-space: nowrap;
}

.menu>ul>li>a {
  -webkit-transition: color .32s ease-in-out;
  transition: color .32s ease-in-out;
}

.menu>ul>li>a:active {
  color: var(--clr-main-blue-hover);
}

.icon-menu {
  display: none;
}

@-webkit-keyframes menu07-bar01 {
  0% {
    -webkit-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
  }

  50% {
    -webkit-transform: translateY(6px) rotate(0);
    transform: translateY(6px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

@keyframes menu07-bar01 {
  0% {
    -webkit-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
  }

  50% {
    -webkit-transform: translateY(6px) rotate(0);
    transform: translateY(6px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes menu07-bar03 {
  0% {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
  }

  50% {
    -webkit-transform: translateY(-6px) rotate(0);
    transform: translateY(-6px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

@keyframes menu07-bar03 {
  0% {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
  }

  50% {
    -webkit-transform: translateY(-6px) rotate(0);
    transform: translateY(-6px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes active-menu07-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(6px) rotate(0);
    transform: translateY(6px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
  }
}

@keyframes active-menu07-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(6px) rotate(0);
    transform: translateY(6px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
  }
}

@-webkit-keyframes active-menu07-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(-6px) rotate(0);
    transform: translateY(-6px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
  }
}

@keyframes active-menu07-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(-6px) rotate(0);
    transform: translateY(-6px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
  }
}

.search {
  position: relative;
}

.search__input-box {
  width: 100%;
  position: relative;
}

.search__icon {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: var(--clr-add-light-black);
  -webkit-transition: fill .32s ease-in-out;
  transition: fill .32s ease-in-out;
}

.search:focus-within .search__icon {
  fill: var(--clr-black);
}

.search:focus-within .search__block {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.search__input {
  padding-right: 3.125rem;
}

.search__list {
  max-height: 15.3125rem;
  overflow-y: auto;
}

.search__block {
  position: absolute;
  z-index: 40;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 0.625rem;
  margin-top: 0.625rem;
  background-color: var(--clr-white);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .32s ease-in-out,visibility .32s ease-in-out,-webkit-transform .32s ease-in-out;
  transition: opacity .32s ease-in-out,visibility .32s ease-in-out,-webkit-transform .32s ease-in-out;
  transition: transform .32s ease-in-out,opacity .32s ease-in-out,visibility .32s ease-in-out;
  transition: transform .32s ease-in-out,opacity .32s ease-in-out,visibility .32s ease-in-out,-webkit-transform .32s ease-in-out;
}

.search__block-title {
  display: block;
  padding: 0.9375rem 1.25rem 0.625rem;
}

.search__block-link {
  margin: 0.625rem 1.25rem 0.9375rem;
}

.search__item {
  cursor: pointer;
  gap: 0.625rem;
  padding: 0.625rem 1.25rem;
  -webkit-transition: background-color .32s ease-in-out;
  transition: background-color .32s ease-in-out;
}

.search__item-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.25rem;
  flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--clr-main-blue);
}

.search__item-location {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  gap: 0.3125rem;
}

.search__item-city {
  -webkit-transition: color .32s ease-in-out;
  transition: color .32s ease-in-out;
}

@supports (font-size: clamp( 0.875rem , 0.8365384615rem  +  0.1923076923vw , 1rem )) {
  .search__item-city {
    font-size: clamp( 0.875rem , 0.8365384615rem  +  0.1923076923vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8365384615rem  +  0.1923076923vw , 1rem )) {
  .search__item-city {
    font-size: calc(0.875rem + 0.125*(100vw - 20rem)/65);
  }
}

.search__item-country {
  color: var(--clr-description-black);
}

.search__item-amount {
  color: var(--clr-description-black);
}

.header {
  position: absolute;
  z-index: 30;
  width: 100%;
  top: 0;
  left: 0;
}

.header__wrapper {
  position: fixed;
  z-index: 29;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.3125rem 0;
  min-height: var(--header-height);
  background-color: var(--clr-white);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  -webkit-transition: min-height .3s ease,-webkit-transform .32s ease-in-out;
  transition: min-height .3s ease,-webkit-transform .32s ease-in-out;
  transition: transform .32s ease-in-out,min-height .3s ease;
  transition: transform .32s ease-in-out,min-height .3s ease,-webkit-transform .32s ease-in-out;
}

._header-scroll .header__wrapper {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  min-height: calc(var(--header-height) - 0.625rem);
}

._header-scroll._header-show .header__wrapper {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.header__container {
  width: 100%;
  gap: 4.0625rem;
}

.header__logo {
  position: relative;
  z-index: 30;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.75rem;
  flex: 0 0 8.75rem;
  width: 8.75rem;
  height: 3.125rem;
}

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header__search-button {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.875rem;
  flex: 0 0 1.875rem;
  width: 1.875rem;
  height: 1.875rem;
}

.header__search-button-icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: var(--clr-black);
}

@media (min-width: 35.99875em) {
  .header__search {
    -webkit-box-flex: 3;
    -ms-flex: 3 1 auto;
    flex: 3 1 auto;
    max-width: 37.5rem;
  }
}

@media (max-width: 74.99875em) {
  .header__container {
    gap: 2.5rem;
  }
}

@media (max-width: 61.99875em) {
  .menu>ul {
    gap: 1.25rem;
    width: 70%;
    height: 100%;
    background-color: var(--clr-white);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 5.9375rem 1.25rem;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .32s ease-in-out;
    transition: -webkit-transform .32s ease-in-out;
    transition: transform .32s ease-in-out;
    transition: transform .32s ease-in-out, -webkit-transform .32s ease-in-out;
  }

  .menu-open .menu>ul {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(48,48,48,.7);
    opacity: 0;
    -webkit-transition: opacity .32s ease-in-out;
    transition: opacity .32s ease-in-out;
    pointer-events: none;
  }

  .menu-open .menu {
    opacity: 1;
    pointer-events: auto;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1.4375rem;
    flex: 0 0 1.4375rem;
    width: 1.4375rem;
    height: 0.9375rem;
    cursor: pointer;
    z-index: 31;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all .35s ease 0s;
    transition: all .35s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.15625rem;
    background-color: var(--clr-black);
    border-radius: 1.25rem;
  }

  .icon-menu::before {
    top: 0;
    -webkit-animation: menu07-bar01 .55s forwards;
    animation: menu07-bar01 .55s forwards;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
    -webkit-transition: all .25s .25s;
    transition: all .25s .25s;
    opacity: 1;
  }

  .icon-menu::after {
    bottom: 0;
    -webkit-animation: menu07-bar03 .55s forwards;
    animation: menu07-bar03 .55s forwards;
  }

  .search-open .icon-menu::before {
    -webkit-animation: active-menu07-bar01 .55s forwards;
    animation: active-menu07-bar01 .55s forwards;
  }

  .search-open .icon-menu span {
    opacity: 0;
  }

  .search-open .icon-menu::after {
    -webkit-animation: active-menu07-bar03 .55s forwards;
    animation: active-menu07-bar03 .55s forwards;
  }

  .menu-open .icon-menu::before {
    -webkit-animation: active-menu07-bar01 .55s forwards;
    animation: active-menu07-bar01 .55s forwards;
    background-color: var(--clr-white);
  }

  .menu-open .icon-menu span {
    opacity: 0;
  }

  .menu-open .icon-menu::after {
    -webkit-animation: active-menu07-bar03 .55s forwards;
    animation: active-menu07-bar03 .55s forwards;
    background-color: var(--clr-white);
  }

  .header__container {
    gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  ._header-scroll .header__wrapper {
    min-height: calc(var(--header-height) - 0.3125rem);
  }

  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 7.125rem;
    flex: 0 0 7.125rem;
    width: 7.125rem;
    height: 2.5rem;
  }
}

@media (max-width: 35.99875em) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    z-index: 34;
    top: 0;
    left: 0;
    width: calc(100% - 4.1875rem);
    height: 100%;
    background-color: var(--clr-white);
    padding: 0.625rem 0 0.625rem 1.25rem;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .32s ease-in-out;
    transition: all .32s ease-in-out;
  }

  .search-open .search {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
    pointer-events: auto;
  }

  .search__block {
    margin-left: 1.25rem;
    width: calc(100% - 1.25rem);
  }

  .search__item {
    gap: 0.3125rem;
  }

  .header__container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__search-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 23.74875em) {
  .search__block {
    width: calc(100vw - 2.5rem);
  }
}

@media (any-hover: hover) {
  .menu>ul>li>a:hover,
  .menu>ul>li>a:focus {
    outline: none;
    color: var(--clr-main-blue);
  }

  .search__item:hover,
  .search__item:focus {
    outline: none;
    background-color: var(--clr-light-blue);
  }

  .search__item:hover .search__item-city,
  .search__item:focus .search__item-city {
    color: var(--clr-main-blue);
  }
}